<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Rubik-Regular.ttf</string>
		<string>Rubik-Light.ttf</string>
		<string>Rubik-Medium.ttf</string>
		<string>Rubik-SemiBold.ttf</string>
		<string>Rubik-Bold.ttf</string>
		<string>Rubik-ExtraBold.ttf</string>
		<string>Rubik-Black.ttf</string>
		<string>Rubik-Italic.ttf</string>
		<string>Rubik-LightItalic.ttf</string>
		<string>Rubik-MediumItalic.ttf</string>
		<string>Rubik-SemiBoldItalic.ttf</string>
		<string>Rubik-BoldItalic.ttf</string>
		<string>Rubik-ExtraBoldItalic.ttf</string>
		<string>Rubik-BlackItalic.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSCameraUsageDescription</key>
	<string>WhatsTheMove needs camera access to take photos for your events and profile.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>WhatsTheMove needs access to your calendar to automatically sync your saved events.</string>
	<key>NSCalendarsWriteOnlyAccessUsageDescription</key>
	<string>WhatsTheMove needs permission to add your events to your calendar.</string>
	<key>GIDClientID</key>
	<string>233558487708-59q73e1sp66691qpq33pmkkmist3vshf.apps.googleusercontent.com</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.whatsthemove.urlscheme</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wtm</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.googleusercontent.apps.233558487708-59q73e1sp66691qpq33pmkkmist3vshf</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.233558487708-59q73e1sp66691qpq33pmkkmist3vshf</string>
			</array>
		</dict>
	</array>
</dict>
</plist>

